name: Build Docker Image

on:
  push:
    branches:
      - master

  workflow_dispatch:

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.PAT }}

    - name: Build and Push Image
      run: |
        docker buildx build \
          --platform linux/amd64,linux/arm64 \
          --tag ghcr.io/revenant1913/live-test:${{ github.sha }} \
          --push \
          .